@font-face {
  font-family: 'Atari Small';
  font-style: normal;
  font-weight: normal;
  src: local('Atari Small'), url('../fonts/AtariSmall.woff') format('woff');
}

body {
  width: 100vw;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

canvas {
  align-self: center;
  width: 800px;
  height: 600px;
}

.hidden {
  display: none !important;
}

.error {
  border: 2px solid maroon;
}

#input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

#enemy-panel {
  position: absolute;
  display: grid;
  width: 400px;
  height: 110px;
  left: 65px;
  top: 340px;
  background-color: rgb(243, 243, 243);
  font-family: 'Atari Small';
  color: white;
}

#hero-panel {
  position: absolute;
  display: grid;
  width: 400px;
  height: 110px;
  right: 50px;
  top: 340px;
  background-color: rgb(243, 243, 243);
  font-family: 'Atari Small';
  color: white;
}

.enemy-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 60% auto;
  margin: 1px;
  background-color: #031f4c;
  align-items: center;
  font-size: 24px;
}

.hero-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 60% auto;
  margin: 1px;
  background-color: #031f4c;
  align-items: center;
  font-size: 24px;
}

.eh-name { 
  position: relative;
  display: flex;
  margin: 2px;
  padding-left: 15px;
  letter-spacing: 15px;
}

.eh-life { 
  position: relative;
  display: inline;
  margin: 2px;
  letter-spacing: 15px;
  text-align: end;
}

.last-wrapper {
  height: 53px !important;
  top: 365.5px !important;
}